body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top {
    background-color: coral;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #1E1E1E;
    border: 2px dotted black;
    padding: 5px;
}
.nav-link:first-child{
    font-weight: 700;  
    color: orangered;

}


.nav-link:hover:first-child{
    color: #1E1E1E;
    border: 5px dotted black;
    transition: 0.2s ease-in;
}


.nav-link:hover{
    font-weight: 700;
    color: green;
    border: 5px dotted black;
    transition: 0.2s ease-in;
}
.down {
    background: coral;
    padding: 5px;
    width: 100%;
    height: 10%;
}

.principles {
    display: flex;
    border-top: 5px solid cyan;
    border-bottom: 5px solid cyan;
    justify-content: space-between; 
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.principle {
    width: 120px;
}

main h2 {
    color: yellowgreen;
    margin-left: 100px;
    font-size: 30px;
    font-family: cursive;
}
